In [1]:
import pandas as pd

In [2]:
bfriday = pd.read_csv("BlackFriday.csv")

In [3]:
bfriday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
bfriday.shape

(537577, 12)

In [5]:
bfriday['Stay_In_Current_City_Years'].value_counts()

1     189192
2      99459
3      93312
4+     82889
0      72725
Name: Stay_In_Current_City_Years, dtype: int64

In [6]:
bfriday.isnull().sum()

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            166986
Product_Category_3            373299
Purchase                           0
dtype: int64

In [7]:
b = ['Product_Category_2','Product_Category_3']

In [8]:
for i in b:
    exec("bfriday.%s.fillna(bfriday.%s.value_counts().idxmax(), inplace=True)" %(i,i))

In [9]:
X = bfriday.drop(["Purchase"], axis=1)

In [10]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [11]:
X = X.apply(LE.fit_transform)

In [12]:
X.Gender = pd.to_numeric(X.Gender)
X.Age = pd.to_numeric(X.Age)
X.Occupation = pd.to_numeric(X.Occupation)
X.City_Category = pd.to_numeric(X.City_Category)
X.Stay_In_Current_City_Years = pd.to_numeric(X.Stay_In_Current_City_Years)
X.Marital_Status = pd.to_numeric(X.Marital_Status)
X.Product_Category_1 = pd.to_numeric(X.Product_Category_1)
X.Product_Category_2 = pd.to_numeric(X.Product_Category_2)
X.Product_Category_3 = pd.to_numeric(X.Product_Category_3)

In [13]:
Y = bfriday["Purchase"]

In [14]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()

In [15]:
Xs = SS.fit_transform(X)

In [16]:
from sklearn.decomposition import PCA
pc = PCA(4)

In [17]:
principalComponents = pc.fit_transform(X)

In [18]:
pc.explained_variance_ratio_

array([7.35761510e-01, 2.64215790e-01, 1.11932596e-05, 6.28064654e-06])

In [19]:
principalDf = pd.DataFrame(data = principalComponents, columns = ["component 1", "component 2", "component 3", "component 4"])

In [20]:
from sklearn.model_selection import KFold
kf = KFold(20)

In [21]:
for a,b in kf.split(principalDf):
    X_train, X_test = Xs[a],Xs[b]
    y_train, y_test = Y[a],Y[b]

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.tree import DecisionTreeRegressor

In [24]:
from sklearn.ensemble import RandomForestRegressor

In [25]:
from sklearn.ensemble import GradientBoostingRegressor

In [26]:
lr = LinearRegression()
dtr = DecisionTreeRegressor()
rfr = RandomForestRegressor()
gbr = GradientBoostingRegressor()

In [27]:
fit1 = lr.fit(X_train,y_train)
fit2 = dtr.fit(X_train,y_train)
fit3 = rfr.fit(X_train,y_train)
fit4 = gbr.fit(X_train,y_train)

In [28]:
print("Accuracy Score of Linear regression on train set",fit1.score(X_train,y_train)*100)
print("Accuracy Score of Decision Tree on train set",fit2.score(X_train,y_train)*100)
print("Accuracy Score of Random Forests on train set",fit3.score(X_train,y_train)*100)
print("Accuracy Score of Gradient Boosting on train set",fit4.score(X_train,y_train)*100)

Accuracy Score of Linear regression on train set 11.79662402594145
Accuracy Score of Decision Tree on train set 100.0
Accuracy Score of Random Forests on train set 94.23831796319818
Accuracy Score of Gradient Boosting on train set 65.51860129045338

In [29]:
print("Accuracy Score of Linear regression on test set",fit1.score(X_test,y_test)*100)
print("Accuracy Score of Decision Tree on test set",fit2.score(X_test,y_test)*100)
print("Accuracy Score of Random Forests on test set",fit3.score(X_test,y_test)*100)
print("Accuracy Score of Gradient Boosting on testset",fit4.score(X_test,y_test)*100)

Accuracy Score of Linear regression on test set 12.490705794515025
Accuracy Score of Decision Tree on test set 41.25221324689116
Accuracy Score of Random Forests on test set 66.43647191309032
Accuracy Score of Gradient Boosting on testset 64.51076408418356